/* VARIABLES */

:root {
    /* colors */
    --MAIN-GREEN: rgb(7, 139, 7);
    --LIGHT-GREEN: rgb(9, 164, 9);
    /* fonts */
    --MAIN-FONT: sans-serif;
    /* size values */
    --PAGE-WIDTH: 1192px;
    --PP-RADIUS: 50%
}

/* STANDARD RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: var(--MAIN-FONT);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    transition: border-color 0.1s ease;
}

a:hover {
    color: var(--MAIN-GREEN);
    cursor: pointer;
}

button {
    border-radius: 99em;
    padding: 10px;
    font-size: 1rem;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

header {
    border-bottom: 2px solid var(--MAIN-GREEN);
    position: fixed;
    width: 100%;
    min-height: 50px;
    background-color: white;
    z-index: 1;
}

header button {
    background-color: var(--MAIN-GREEN);
    border: none;
    color: white;
}

header button:hover {
    background-color: var(--LIGHT-GREEN);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: var(--PAGE-WIDTH);
    padding-top: 60px;
}


/* MAIN PAGE STYLING */

/* header */

.header-content {
    display: flex;
    justify-content: end;
    max-width: var(--PAGE-WIDTH);
    align-items: end;
    height: 100%;
    width: 100%;
    position: relative;
}

.header-content div {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 10px;

}

.header-content img {
    height: 30px;
    width: 30px;
    border-radius: var(--PP-RADIUS);
}

.logotype {
    font-size: 2rem;
    color: var(--MAIN-GREEN);
    margin: 0 0 -2px 10px;
    font-family: var(--MAIN-FONT);
    position: absolute;
    left: 0;
    bottom: -1px;
}

.topics {
    overflow: auto;
    display: flex;
    gap: 5px;
}

.topic-button {
    background-color: white;
    border: 1px solid var(--MAIN-GREEN);
    transition: 0.3s ease-in-out;
}

.topic-button:hover {
    color: var(--MAIN-GREEN);
    border-color: transparent;
}

.trending-section {
    border: 1px solid var(--MAIN-GREEN);
    border-radius: 1em;
    margin: 10px 0px;
    padding: 10px;
}

.trending-header {
    gap: 10px;
}

.trending-header h3 {
    font-weight: normal;
}

.trending-button {
    border-radius: 5px;
    min-height: 30px;
    width: 30px;
    padding: 0;
    border: 1px solid grey;
}

.trending-articles {
    overflow: hidden;
    transition: 1s ease-in-out;
    max-height: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.author-and-date {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 0.75em;
    margin-bottom: 5px;
    align-items: center;
}

.author {
    gap: 5px;
}

.author a {
    color: gray;
}

.author img {
    height: 20px;
    width: 20px;
    border-radius: var(--PP-RADIUS);
    margin-top: 3px;
}

.new-articles {
    margin: 10px 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.article-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 600px;
}

.article-info p {
    color: gray;
    font-size: 0.75em;
}


.article-picture-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 65%;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}

.article-picture-wrapper img {
    border-radius: 1em;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    z-index: -1;

}

/* WIDE SCREENS */

@media screen and (min-width:1192px) {
    header {
        min-height: 75px;
    }

    main {
        padding-top: 95px;
    }

    .logotype {
        font-size: 2.5rem;
    }

    .header-content div {
        gap: 10px;
    }

    .header-content img {
        height: 40px;
        width: 40px;
    }

    .topics {
        justify-content: center;
    }

    .trending-and-new-articles {
        display: flex;
        flex-direction: row-reverse;
    }

    .trending-section {
        height: fit-content;
        min-width: 300px;
    }

    .trending-button {
        display: none;
    }

    .trending-articles {
        max-height: 2000px;
        margin: 15px 0px;
    }

    .new-articles {
        grid-template-columns: repeat(2, 1fr);
        justify-items: normal;
    }
}