{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ravdar">
    <meta name="description" content="Main page for 'bloggin' website.">
    <title>bloggin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles_refactored.css' %}">
    <script defer src="{% static 'main.js' %}"></script>

</head>

<body>
    <header class="center">
        <div class="header-content">
            <a href="{% url 'mainapp:main_view' %}" class="logotype">bloggin.</a>
            <div class="header-buttons">
                {% if request.user.is_authenticated %}
                <button><a href="{% url 'mainapp:new_article_view' %}"></a>New article</button>
                <a href="{% url 'users:logout' %}">Log out</a>
                <a href="{% url 'mainapp:user_profile' user.username %}"><img
                        src="{{ user.profile.profile_picture.url }}"></a>
                {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                <button><a href="{% url 'users:register_view' %}"></a>Register</button>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        <section class="topics">
            {% for topic in topics %}
            <button class="topic-button"><a href=""></a>{{topic.name}}</button>
            {% endfor %}
        </section>

        <section class="trending-section">
            <div class="trending-header center">
                <h3>Trending articles</h3><button id="trending-button">+</button>
            </div>
            <div class="trending-articles">
                {% for trending_article in top_articles %}
                {{trending_article.title}}
                {% endfor %}
            </div>
        </section>
    </main>

</body>

</html>