{% extends "mainapp/base.html" %}
{% load widget_tweaks %}


{% block content %}
<div class="main-div">
    <div class="new-article">
        <h1>Write a new article</h1>
        &nbsp;
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.title|add_class:"form-control"|attr:"placeholder:Title"}}
            {{form.body|add_class:"form-control"}}
            {{form.image|add_class:"form-control"}}
            <div class="select-topics">Choose topics <button class="show-topics">+</button>
                <div class="available-topics">
                    {{form.topics}} <button class="hide-topics">Hide</button></div>
            </div>
            <div style="display:flex;justify-content: center;margin-top: 25px;">
                <button class=" nav-button " type=" submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    var showTopicsButton = document.querySelector(".show-topics");
    var hideTopicsButton = document.querySelector(".hide-topics");
    var topicsContainer = document.querySelector(".available-topics");

    showTopicsButton.addEventListener("click", function () { topicsContainer.style.display = "block"; });
    hideTopicsButton.addEventListener("click", function () { topicsContainer.style.display = "none"; });
</script>
{% endblock content %}