{% extends "mainapp/main_refactor.html" %}
{% load widget_tweaks %}

{% block content %}

<main class="new-article-main center">
    {% block header %}
    <h1>Write a new article</h1>
    {% endblock header %}
    &nbsp;
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.title|add_class:"new-article-inputs"|attr:"placeholder:Title"}}
        {{form.body|add_class:"new-article-inputs"}}
        &nbsp;
        <div class="image-and-topics-container">
            <label for="{{ form.image.id }}">Select article image</label>
            {{form.image}}
            <div class="select-topics"><label for="{{ form.topics.id }}">Select topics</label><button id="show-topics"
                    class="topics-button" type="button">+</button>
                <div class="available-topics">
                    {{form.topics}}</div>
            </div>
        </div>
        {% block formbutton %}
        <button type="submit">Submit</button>
        {% endblock formbutton %}

    </form>
</main>

{% endblock content %}