{% extends "mainapp/main_refactor.html" %}
{% load widget_tweaks %}

{% block content %}

<main class="new-article-main center">
    <h1>Write a new article</h1>
    &nbsp;
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.title|add_class:"new-article-inputs"|attr:"placeholder:Title"}}
        {{form.body|add_class:"new-article-inputs"}}
        &nbsp;
        <label for="{{ form.image.id }}">Select article image</label>
        {{form.image}}
        <div class="select-topics"><label for="{{ form.topics.id }}">Select topics</label><button id="show-topics"
                class="topics-button">+</button>
            <div class="available-topics">
                {{form.topics}}</div>
        </div>

        <button type="submit">Submit</button>

    </form>
</main>

{% endblock content %}