{% extends "mainapp/base.html" %}

{% block content %}
<h1>Is this article you were looking for?</h1>
{% if article.image %}
<img src="{{ article.image.url }}" id="article-image">
{% endif %}
<p>{{article.publication_date}}</p>
<h1>{{article.title}}</h1>
<p>{{article.body}}</p>
{% for comment in comments %}
<p>{{comment.owner}}</p>
<p>{{comment.text}}</p>
<p>Upvote</p>
<p>Downvote</p>
<p>Reply></p>
{% for subcomment in comment.subcomment}
{% endfor %}
<form method="post">
    {% csrf_token %}
    {{comment_form}}
    {% if user.is_authenticated %}
    <button type="submit">Submit</button>
    {% else %}
    <p>You have to be logged to post comments.</p>
    {% endif %}
</form>
{% endblock content %}