{% extends "mainapp/base.html" %}
{% load widget_tweaks %}
<!-- Adding subcomments, upvotes, downvotes, links to the commenter profiles etc. -->

{% block content %}
<div class="main-div">
    <div class="read-article-image">
        {% if article.image %}
        <img src="{{ article.image.url }}" class="read-article-image">
        {% endif %}
        <div class="pp-and-author-r">
            <div class="ppaa">
                <a href="{% url 'mainapp:user_profile' article.owner.username %}"><img
                        src="{{article.owner.profile.profile_picture.url}}" class="profile-picture-mini"></a>
                <a href="{% url 'mainapp:user_profile' article.owner.username %}">
                    {{article.owner.username}}
                </a>
                {% if article.owner == user %}
                &nbsp;
                <a href="{% url 'mainapp:edit_article_view' article.url %}">Edit</a>
                {% endif %}
            </div>
            <span class=" pub-date">{{article.publication_date}}</span>
        </div>
        <h1 style="font-size: 50px;">{{article.title}}</h1>
        &nbsp;
        <p>{{article.body|safe}}</p>
        &nbsp;
        &nbsp;
        <form method="post">
            {% csrf_token %}
            {{comment_form.text|add_class:"form-control wid"|attr:"placeholder:What are your thoughts on this topic?"}}
            {% if user.is_authenticated %}
            <button class="nav-button" type="submit">Submit</button>
            {% else %}
            <p>You have to be <span><a style="color:rgb(7, 139, 7)" href="{% url 'users:login' %}">logged</a></span> to
                post comments.</p>
            {% endif %}
        </form>
        &nbsp;
        &nbsp;
        {% for comment in comments %}
        <div class="comment">
            <div class="main-comment">
                <div class="pp-and-author-r">
                    <div class="ppaa">
                        <a href="{% url 'mainapp:user_profile' comment.owner.username %}"><img
                                src="{{article.owner.profile.profile_picture.url}}" class="profile-picture-mini"></a>
                        <a href="{% url 'mainapp:user_profile' comment.owner.username %}">
                            {{comment.owner.username}}
                        </a>
                        &nbsp;
                        &nbsp;
                        <span class=" pub-date">{{comment.publication_date}}</span>
                    </div>
                    {% if comment.owner == user %}
                    <a href="{% url 'mainapp:edit_article_view' article.url %}">Edit</a>
                    {% endif %}
                </div>
                <p>{{comment.text}}</p>
                <div class="cmmatt">
                    <span>Upvote</span>
                    &nbsp;
                    <span>Downvote</span>
                    &nbsp;
                    <span>Reply</span>
                </div>
            </div>
            {% for subcomment in comment.subcomments.all %}
            <div class="subcomment">
                <div class="pp-and-author-r">
                    <div class="ppaa">
                        <a href="{% url 'mainapp:user_profile' subcomment.owner.username %}"><img
                                src="{{article.owner.profile.profile_picture.url}}" class="profile-picture-mini"></a>
                        <a href="{% url 'mainapp:user_profile' subcomment.owner.username %}">
                            {{subcomment.owner.username}}
                        </a>
                        &nbsp;
                        &nbsp;
                        <span class=" pub-date">{{subcomment.publication_date}}</span>
                    </div>
                    {% if subcomment.owner == user %}
                    <a href="{% url 'mainapp:edit_article_view' article.url %}">Edit</a>
                    {% endif %}
                </div>
                <p>{{subcomment.text}}</p>
                <div class="cmmatt">
                    <span>Upvote</span>
                    &nbsp;
                    <span>Downvote</span>
                    &nbsp;
                    <span onclick="displaySubcommentForm('{{ subcomment.id }}')">Reply</span>
                </div>
                <form id="subcomment-form{{ subcomment.id }}" method="post" style="display:none">
                    {% csrf_token %}
                    {{subcomment_form.text|add_class:"form-control wid"|attr:"placeholder:Answer"}}
                    {% if user.is_authenticated %}
                    <button class="nav-button" type="submit">Submit</button>
                    {% else %}
                    <p>You have to be <span><a style="color:rgb(7, 139, 7)"
                                href="{% url 'users:login' %}">logged</a></span> to
                        reply to comments.</p>
                    {% endif %}
                </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>


<script>
    function displaySubcommentForm(subcommentId) {
        var form = document.getElementById("subcomment-form" + subcommentID);
        if (form.style.display === "none") {
            form.style.display = "block";
        } else { form.style.display = "none" }
    }
</script>



{% endblock content %}