{% extends "mainapp/base.html" %}

{% block content %}
<div class="main-div">
    <div class="grbb">
        <div class="profile-content">
            <div class="nav-div-3-1">
                <img src="{{ user.profile.profile_picture.url }}" class="profile-view-picture">
                <h3>{{user.username}}</h3>
            </div>
            <div class="ovac">
                &nbsp;
                &nbsp;

                <a class="nav-button" href="{% url 'mainapp:user_profile' user.username %}">Overview</a>
                &nbsp;
                <a class="topic-button" href="{% url 'mainapp:user_profile' user.username %}">Articles</a>
                &nbsp;
                <a class="topic-button" href="{% url 'mainapp:user_profile' user.username %}">Comments</a>
            </div>
            {% block user_profile_content %}
            {% for activity in activities %}
            <div class="activity-class">
                {% if activity.model_name == "article" %}
                <div class="article-activity">
                    <div>
                        <span style="font-size:10px; color: grey;">{{activity.publication_date}}</span>
                        <span>Added article:</span>
                    </div>
                    <div class="test">
                        <a href="{% url 'mainapp:read_article_view' activity.url %}"><img src="{{ activity.image.url }}"
                                class="article-image-profile"></a>
                        <div>
                            <h4 class="article-titles"><a
                                    href="{% url 'mainapp:read_article_view' activity.url %}">{{activity.title}}</a>
                            </h4>
                            <p>{{ activity.body|slice:":200"|safe }}...</p>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="comment-activity">
                    <div style="margin-bottom: 15px;">
                        <span style="font-size:10px; color: grey;">{{activity.publication_date}}</span>
                        <span>Commented: <a href="{% url 'mainapp:read_article_view' activity.article.url %}">
                                <span>{{activity.article.title}}</span></a></span>
                    </div>
                    {{activity}}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endblock user_profile_content %}
        </div>
    </div>
</div>
{% endblock content %}